.messages-and-alerts-page {
	display: flex;
	flex: 1;
	flex-direction: column;
	min-width: 0;
	min-height: 0;

	.messages-and-alerts-tab-label {
		display: inline-flex;
		align-items: center;
		gap: 7px;
	}
}
